@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}
h2 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.carousel-item {
  height: 40rem;
}
.carousel-item .img-overlay {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-main {
  background-color: #ff4e4e;
}
.text-main {
  color: #ff4e4e;
}

.card {
  transition: all 0.25s ease-in;
  cursor: pointer;
  border-radius: 1.2rem;
}

.card:hover,
.ac {
  transform: translateY(-32px);

  background: #3f87f5;
  color: white;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}
.card:hover .btn,
.ac .btn {
  background-color: white;
  color: #3f87f5;
}
/* body {
  overflow-x: hidden !important;
} */
